.navbar-center {
    display: flex;
    justify-content: center;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin: 0 5px;
  }
  
  @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .navbar-center {
      flex-direction: column;
      align-items: center;
      
    }
    
    .menu {
      flex-direction: row;
      align-items: center;
    
    }
    
    .menu li {
      margin: 2px 0;
    }
  }